h1 {
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background: rgb(223, 201, 201);
}

.cabecera {
    background: rgb(134, 126, 126);
    padding: 10px;
}

.cabecera h1{
    text-align: left;
    font: bold 30px georgia;
}

.menu {
    text-align: left;
}

.menu li {
    padding: 20px;
    font: bold 45px Times;
}

.seccion {
    margin: 10px;
}

.pie{
    padding: 18px;
    background: gray;
    color: rgb(0, 0, 0);
    text-align: center;
}

b{
    font-size: 40px;
    padding: 5px;
    color:rgb(22, 22, 22);
}

li img{
    width: 100PX;
}
