body{
    background: rgb(223, 201, 201);
}

.cabecera {
    background: rgb(134, 126, 126);
    padding: 10px;
}

.cabecera h1{
    text-align: left;
    font: bold 30px georgia;
}

.ulti{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.menu h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 10px;
    color:rgb(26, 25, 25);
}

.basico{
    font-size: 45px;
    color:gray;
}

.menu h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 10px;
    color:rgb(26, 25, 25);
}

.menu h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:rgb(73, 73, 73);
}

.pie{
    padding: 18px;
    background: gray;
    color: rgb(0, 0, 0);
    text-align: center;
}
